main{
    .contenedor{
        .datos{
            .contenedorSelec{
                .msjIngreso{
                    font-size: 1.5vw;
                    font-family: sans-serif;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }

        }
    }
}