main{
    .contenedor{
        .boton{
            width: 20%;
                margin: 0%;
                padding: 0.7vw;
                color: white;
                font-size: large;
                background: linear-gradient(45deg, #331cb2, #761f89);
                border: none;
                border-radius: 7px;
                cursor: pointer;
                &:hover{
                    background-color: #7f2e9a;
                    transform: rotateY(360deg);
                    transition: transform 0.5s ease;
                    background: linear-gradient(45deg, #331cb2, #761f89);
                }
        }
    }
}